@model MVCEntityLogin.Models.AppointmentListModel
@{
    ViewBag.Title = "Validate Appointment";
}
@using (Html.BeginForm("Edit", "Counselor", FormMethod.Post))
{

    <link rel="stylesheet" href="~/Content/table.css">
    <div>
        <table class="rwd-table">
            <tr>
                <td align="right">
                    Name :
                </td>
                <td align="left">
                    @Html.TextBoxFor(m => m.AppointmentListDetail.StudentName)
                    @Html.Hidden("Id", Model.AppointmentListDetail.StudentID)
                </td>
            </tr>
            <tr>
                <td align="right">
                    Address :
                </td>
                <td align="left">
                    @Html.TextBoxFor(m => m.AppointmentListDetail.DateTime)
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Update" />
                    <div style="color: Red">@ViewBag.Message</div>
                </td>
            </tr>
        </table>
    </div>
}